<div class="main-container">

    <h3 class="main-title">Results</h3>

    <div class="button-container">
        <button class="save-csv-file" (click)="onCSV()">CSV</button>
        <button class="save-josn-file" (click)="onJson()">JSON</button>
        <button class="save-conosle-file"(click)="onConsole()" >Console</button>
    </div>

    <div class="table-container">
        <table class="result-table">

            <thead>
                <tr>
                    <th>Type</th>
                    <th>Difficulty</th>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Correct Answer</th>
                    <th>Incorrect Answers</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let result of results">
                    <td>{{result.type}}</td>
                    <td>{{result.difficulty}}</td>
                    <td>{{result.category}}</td>
                    <td>{{result.question}}</td>
                    <td>{{result.correct_answer}}</td>
                    <td>
                        {{result.incorrect_answers}}
                        <!-- <ng-container *ngFor="let incorrectAnswer of result.incorrect_answer">
                            {{incorrectAnswer}}
                        </ng-container> -->
                    </td>
                </tr>

                <!-- <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr> -->
            </tbody>
    
        </table>
    </div>

</div>
