/* You can add global styles to this file, and also import other style files */


/* Initial CSS Spasing Reset */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Define Application Background */
body {
    background: linear-gradient(to right, #00308F, #AFE1AF);
}

/* Style Applicatio Scroll Bar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #5D3FD3; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}